@import '../Vars.scss';
@import '../Media.scss';

.header {
  color: white;
  display: flex;
  height: 100px;
  top: 0px;
  width: 100%;

  & .header__menu {
    @include flex-container();

    & ul {
      list-style: none;
      padding: 0px;
      @include flex-container(space-around, 70%);
    }

    & li a {
      color: white;
      text-decoration: none;
    }

    & li a:hover {
      text-decoration: underline;
    }
  }
}
