@import '../Vars.scss';
@import '../Media.scss';

.header {
  color: white;
  display: flex;
  height: 100px;
  top: 0px;
  width: 100%;
}

.header__menu {
  @include flex-container();
}

.header__menu ul {
  list-style: none;
  padding: 0px;
  @include flex-container(space-around, 70%);
}

.header__menu:hover ul,
ul:hover {
  // display: block;
}

.header__menu li {
  // margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}
